<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EG Games</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">

  </head>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Electronic Games Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <a> <% if customer_signed_in? %>
              <p>Hi, <%= current_customer.name %></p>
              <%= link_to 'Log out', destroy_customer_session_path , :method => 'delete' %>
              <% else %>
            
              <%= link_to 'Sign in',customer_session_path %>

              <% end %>
          </a>
            <li class="nav-item active">
              <a class="nav-link" >
                <%= link_to 'HomePage',homepage_path %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"> 
              <%= link_to 'Games Page',gamepage_path %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Electronic Games Gallery
        <small>(EG Games)</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
         <div >
	<%= image_tag("homepage/ps4.jpg") %>
	<%= image_tag("homepage/Xbox.jpg") %>
	<%= image_tag("homepage/nintendo.jpg") %>
</div> 	
        </div>

        <div class="col-md-4">
          <h3 class="my-3">About Us</h3>
          <p>
<% @info.each do |information| %>
<div class ="display">
	<h1><%= information.about %></h1>
	<p><h2>Description: </h2><%= information.description %></p>
	<p>Email: <%= information.email %></p>	
	<p>Location: <%= information.location %></p>
</div>
	
<% end %>
        </div>

      </div>
      <!-- /.row -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MyProject 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>



