<!DOCTYPE html>
<html>
<title>Electronic Games</title>
<body>

<div >
	<%= image_tag("homepage/ps4.jpg") %>
	<%= image_tag("homepage/Xbox.jpg") %>
	<%= image_tag("homepage/nintendo.jpg") %>
</div> 	

 <%= link_to 'HomePage',homepage_path %>
 <%= link_to 'Games Page',gamepage_path %>
 

<% @info.each do |information| %>
<div class ="display">
	<h1><%= information.about %></h1>
	<p><h2>About Us </h2><%= information.description %></p>
	<p>Email: <%= information.email %></p>	
	<p>Location: <%= information.location %></p>
</div>
	
<% end %>

</body>
</html>
