<h1>Games</h1>

 <%= render partial: 'common/header' %>

<% @recent.each do |product| %>
<div class="products">
	<h2> <%= link_to product.name, product_path(product)  %></h2>
	<p><%= image_tag product.image %></p>
	<p><%= product.description %></p>
	<p>Price: $<%= product.price %></p>
	<p>Stock: <%= product.stock_quantity %></p>
	<p>Date released: <%= product.released %></p>

	
</div>
<% end %>