<h1>Games</h1>
 
 <%= render partial: 'common/header' %>


<% @product.each do |product| %>
<div class="products">
	<h2> <%= product.name %></h2>
	<p><%= image_tag product.image %></p>
	<p><%= product.description %></p>
	<p>Price: $<%= product.price %></p>
	<p>Stock: <%= product.stock_quantity %></p>
	<p>Date released: <%= product.released %></p>
	
	<%= form_tag cartstuff_path(id: product.id), method: 'post' do %>
		<p>Quantity: <%= text_field_tag "quantity" %></p>
		<%= submit_tag "Add to cart" %>
		
	<% end %>
	</div>
<% end %>

