<br>
<%= link_to 'HomePage',homepage_path %>
 <%= link_to 'Games Page',gamepage_path %>
 <br>
 <h1>Search Form</h1>

<%= form_tag search_results_path, method: 'get' do %>
  <%= text_field_tag :search_keywords %>
  <%= submit_tag "Search" %>
<% end %>