<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </div>
    </nav>

    <%= render partial: 'common/header' %>

    <!-- Page Content -->
    <div class="container">

      <h2>Search Form</h2>


<%= form_tag search_results_path, method: 'get' do %>
  <%= text_field_tag :search_keywords %>

<%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "All"%>

  <%= submit_tag "Search" %>
<% end %>
	
<div class="category">
	<% Category.all.each do |category| %>
	<li> <%= link_to category.name, Category_path(category) %></li>
		
	<% end %>

</div>


<% @products.each do |product| %>
<div class="products">
	<h2> <%= link_to product.name, product_path(product)  %></h2>
	<p><%= image_tag product.image %></p>
	<!-- <p><%= product.description %></p>
	<p>Price: $<%= product.price %></p>
	<p>Stock: <%= product.stock_quantity %></p>
	<p>Date released: <%= product.released %></p> -->

	
	</div>
<% end %>
<%= paginate @products %>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>