 <h1>Games</h1>
 
 <%= render partial: 'common/header' %>
 

 <h2>Search Form</h2>


<%= form_tag search_results_path, method: 'get' do %>
  <%= text_field_tag :search_keywords %>

<%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "All"%>

  <%= submit_tag "Search" %>
<% end %>
	
<div class="category">
	<% Category.all.each do |category| %>
	<li> <%= link_to category.name, Category_path(category) %></li>
		
	<% end %>

</div>


<% @products.each do |product| %>
<div class="products">
	<h2> <%= link_to product.name, product_path(product)  %></h2>
	<p><%= image_tag product.image %></p>
	<!-- <p><%= product.description %></p>
	<p>Price: $<%= product.price %></p>
	<p>Stock: <%= product.stock_quantity %></p>
	<p>Date released: <%= product.released %></p> -->

	
	</div>
<% end %>
<%= paginate @products %>